.add-trnx {    
    border: solid 5px;
    margin-top: 40px;
    /* padding-top: 15px; */
    font-family: auto;
    width: 50%;
}

.add-trnx .row {
    /* border: 1px solid; */
    min-height: 75px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;

}

.add-trnx .row label {

    font-size: 20px;
    font-style: italic;
}

.add-trnx .add-box {
    text-align: right;
}