.add-trnx {    
    border: solid 5px;
    margin-top: 40px;
    /* padding-top: 15px; */
    font-family: auto;
    width: 50%;
}

.add-trnx .row {
    /* border: 1px solid; */
    min-height: 75px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;

}

.add-trnx .row label {

    font-size: 20px;
    font-style: italic;
}

.add-trnx .add-box {
    text-align: right;
}


.tx-list{
    border: solid 5px;
    margin-top: 40px;
    /* padding-top: 15px; */
    font-family: auto;
    width: 70%;
}

.tx-list .row {
    padding-top: 10px;
    text-align: left;
}

.tx-list .row .col-4 {
    text-align: right;
}


@media (max-width: 600px) {
  .container {
    width: 80%;
  }

  .col-4 {
    width: 100%;
  }
  .col-8 {
    width: 100%;
  }

  
    .add-trnx .add-box {
        text-align: center;
    }

    .add-trnx .add-box button {
        margin-bottom: 3px;
    }

    .add-trnx .add-box a {
        margin-bottom: 3px;
    }


}

